includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        # Config files use env() legitimately
        - '#Called .env. outside of the config directory#'
